html, body{
  margin: 0;
  padding: 0;
  width: 100%;
 height: 100%;
}

body{
 background-color: #f4f9ea;
 font-size: 14px;
 color: #555;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

ul{
margin:0;
padding:0;
list-style: none;
}

.clear{
  clear: both;
}

a{
  color: #316eb6;
  text-decoration: none
}
  a:hover{
    color: #1d487b;
}
